.root {
    background-color: #f5f5f5;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.text-field, .password-field {
    border-color: #ccc;
    border-radius: 5px;
    padding: 5px;
   font-size: 14px;
}

.button {
    background-color: #4CAF50;
    text-fill: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
}